body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(180deg, #e0f7fa 0%, #fce4ec 100%);
    color: #444;
    text-align: center;
}
.floating-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.floating-item {
    position: absolute;
    bottom: -50px;
    color: rgba(240, 98, 146, 0.3);
    filter: blur(1px);
    animation: rise linear infinite;
}
@keyframes rise {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }
}
.header-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title, .main-title1, .name-display {
    margin: 0 !important;
    text-align: center;
    line-height: 1.1;
}

.main-title { font-size: 3.5rem; color: #4db6ac; }
.main-title1 { font-size: 3.5rem; color: #4db6ac; margin-top: -10px !important; }
.name-display { font-size: 3rem; color: #f06292; margin-top: 10px !important; }


.swiper {
  width: 220px;
  height: 300px;
  margin-top: 25px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  overflow: hidden; 
}
.swiper-slide img {
  width: 100%;      
  height: 100%;     
  object-fit: cover; 
  display: block;
}
.swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}



.music-card {
    background: rgba(212, 241, 244, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 30px;
    width: 90%;
    height: 90%;
    max-width: 255px;
    max-height: 200px;
    margin: 20px auto;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    font-family: 'Kanit', sans-serif;
    margin-top: 80px;
}

.music-info-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.album-art img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.song-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.artist {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0 0 0;
}


.progress-container {
    margin-bottom: 20px;
}

.time-display {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #444;
    margin-bottom: 5px;
    font-family: 'monospace';
}

#progressBar {
    width: 100%;
    cursor: pointer;
    accent-color: #3b82f6;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.control-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
    transition: transform 0.2s;
}

.play-pause {
    font-size: 2.2rem;
    color: #333;
}

.control-btn:hover {
    transform: scale(1.1);
}
.text-box {
    width: 85%;
    max-width: 250px;
    margin: 40px auto;
    padding: 25px;
    line-height: 1.8;
    background: white;
    border-radius: 15px;
    text-align: left;
    font-size: 20px;
}

.memories-zone {
    text-align: center;
    padding: 20px;
}
.memories-zone h3{
    font-size: 60px;
    color: #4db6ac;
    margin-left: 0;
    text-align: center;
}
.memories-zone h1{
    font-size: 18px;
    margin-top: -60px;
    margin-bottom:48px;
    margin-left: 0;
    text-align: center;

}
.otp-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.otp-inputs input {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 40px;
}
.special-msg {
    width: 80%;
    max-width: 700px;
    margin: 80px auto;
    padding: 40px 25px;
    line-height: 1.8;
    background: white;
    border-radius: 15px;
    text-align: left;
    font-size: 20px;
}

.hidden { display: none; }
.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title,
.main-title1,
.name-display {
    margin-left: 0;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80vh;
    border-radius: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: zoomIn 0.3s ease;
}
.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
@keyframes zoomIn {
    from { transform: translateY(-50%) scale(0.5); opacity: 0; }
    to { transform: translateY(-50%) scale(1); opacity: 1; }
}

.gift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.gift-box-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    background: #f06292;
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.gift-body::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background: #ffeb3b;
    left: 40px;
}

.heart-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.click-text {
    margin-top: 20px;
    color: #f06292;
    font-weight: bold;
}

.hidden { 
    display: none !important; 
}
.gift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    cursor: pointer;
    width: fit-content;
}
.gift-box-wrapper {
    position: relative;
    width: 120px;
    height: 100px;
    background: #f06292;
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 15px 30px rgba(240, 98, 146, 0.3);
    border: 4px solid #f48fb1;
}

.gift-lid {
    position: absolute;
    width: 130px;
    height: 25px;
    background: #f06292;
    top: -15px;
    left: -9px;
    border-radius: 5px;
    border: 4px solid #f48fb1;
    z-index: 2;
}

.gift-body::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 100%;
    background: #ffeb3b; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.heart-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    z-index: 3;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.1));
}

.click-text {
    margin-top: 25px;
    color: #ec407a;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 0 0 10px rgba(255,255,255,0.8);
}

.message-popup {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-content {
    background: white;
    padding: 25px 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 250px;
    max-height: 500px;
    text-align: left;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0,0.5);
    animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.message-content h2{
    font-size: 25px;
}
@keyframes popIn {
    from { transform: scale(0); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.close-popup {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 30px; cursor: pointer;
}




@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-title, .name-display {
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.play-pause:hover {
    animation: pulse 1s infinite;
}
.header-section { animation: fadeInUp 1s forwards; }
.image-stack { animation: fadeInUp 1s 0.5s forwards; opacity: 0; }



.music-card {
    display: inline-block; 
    animation: float 4s ease-in-out infinite;
}

.floating-heart-photo {
    position: absolute;
    bottom: -150px;
    width: 100px; 
    height: 100px;
    background-color: white;
    clip-path: path('M50,88.9 L43.9,83.4 C22.5,64 8.3,51.2 8.3,35.4 C8.3,22.6 18.4,12.5 31.2,12.5 C38.5,12.5 45.4,15.9 50,21.2 C54.6,15.9 61.5,12.5 68.8,12.5 C81.6,12.5 91.7,22.6 91.7,35.4 C91.7,51.2 77.5,64 56.1,83.4 L50,88.9 Z');
    filter: drop-shadow(0 0 8px rgba(255, 182, 193, 0.6));
    transform-origin: center;
    animation: riseAndRotate linear infinite;
    z-index: -1;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.floating-heart-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: contrast(110%);
}

@keyframes riseAndRotate {
    0% {
        transform: translateY(0) translateX(0) rotate(-10deg) scale(0.8);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh) translateX(30px) rotate(10deg) scale(1.1);
        opacity: 0;
    }
}